/* Обычный */
@font-face 
	font-family: 'Gilroy Regular';
	font-weight: normal;
	font-style: normal;
	src: local('Gilroy Regular'),
		url('../../accepts/fonts/Gilroy-Regular.woff2') format('woff2'), 
		url('../../accepts//fonts/Gilroy-Regular.woff') format('woff'),
		url('../../accepts//fonts/Gilroy-Regular.ttf') format('ttf'),
		url('../../accepts//fonts/Gilroy-Regular.eot') format('eot');


/* Medium */
@font-face 
	font-family: 'Gilroy Medium';
	font-weight: 500;
	font-style: normal;
	src: local('Gilroy Medium'),
		url('../../accepts/fonts/Gilroy-Medium.woff2') format('woff2'), 
		url('../../accepts/fonts/Gilroy-Medium.woff') format('woff'),
		url('../../accepts/fonts/Gilroy-Medium.ttf') format('ttf'),
		url('../../accepts/fonts/Gilroy-Medium.eot') format('eot');


/* Жирный */
@font-face 
	font-family: 'Gilroy Bold';
	font-weight: 700;
	src: local('Gilroy Bold'),
		url('../../accepts/fonts/Gilroy-Bold.woff2') format('woff2'), 
		url('../../accepts/fonts/Gilroy-Bold.woff') format('woff'),
		url('../../accepts/fonts/Gilroy-Bold.ttf') format('ttf'),
		url('../../accepts/fonts/Gilroy-Bold.eot') format('eot');